<h1>Developer Assessment</h1>

<p>Please see readme file in the solution for instructions and tasks to complete.</p>

<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>

<div>
  <h4>My tasks achievements:</h4>
  <ul>
    <li>Server Side: Run the API and the client App seperately (separation of concerns).</li>
    <li>Client Side: Run <code>npm start</code> from ClientApp root folder to start the trade app on http://localhost:4200.</li>
    <li>Restructure my code into logical projects with models, repos, services and controllers.</li>
    <li>Add Swagger UI to easily manage our REST-Full API.</li>
    <li>Cache and to retrieve AssetList with sliding expiration to demonstrate real-world API calls.</li>
    <li>Create a header component with the total amount of all Trades.</li>
    <li>Manage Trades (Add/Update/Delete) functionality.</li>
    <li>Create reports component to display Trades data.</li>
    <li>Add Unit-Tests project to test our services an functionality.</li>
    <li>Install and use Bogus Faker package to generate random Trades.</li>
    <li>Use AutoMapper to eliminate the need to write tedious boilerplate code when mapping objects.</li>
  </ul>
</div>


